## Air pollution in Seoul, South Korea

#### The data on air pollution in Seoul were analyzed and were visualized in a map using geopandas. The dataset was provided by <a href="https://www.kaggle.com/bappekim/air-pollution-in-seoul">Kaggle</a>

In [8]:
#data preprocessing, analysis
import numpy as np
import pandas as pd 

#visualization
import matplotlib.pyplot as plt

In [10]:
import sys
print(sys.path)

['/Users/minjeongkim', '/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/python37.zip', '/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/python3.7', '/usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/python3.7/lib-dynload', '', '/Users/minjeongkim/Library/Python/3.7/lib/python/site-packages', '/usr/local/lib/python3.7/site-packages', '/usr/local/lib/python3.7/site-packages/IPython/extensions', '/Users/minjeongkim/.ipython']

In [17]:
station = pd.read_csv('/Users/minjeongkim/Desktop/datasets/Measurement_station_info.csv')
item = pd.read_csv('/Users/minjeongkim/Desktop/datasets/Measurement_item_info.csv')
compiled = pd.read_csv('/Users/minjeongkim/Desktop/datasets/Measurement_info.csv')

In [18]:
print(station.info())
print(station.isnull().sum().sum())  # no missing data
station.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Station code            25 non-null     int64
 1   Station name(district)  25 non-null     object
 2   Address                 25 non-null     object
 3   Latitude                25 non-null     float64
 4   Longitude               25 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.1+ KB
None
0

,Station code,Station name(district),Address,Latitude,Longitude
0,101,Jongno-gu,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008
1,102,Jung-gu,"15, Deoksugung-gil, Jung-gu, Seoul, Republic o...",37.564263,126.974676
2,103,Yongsan-gu,"136, Hannam-daero, Yongsan-gu, Seoul, Republic...",37.540033,127.004850
3,104,Eunpyeong-gu,"215, Jinheung-ro, Eunpyeong-gu, Seoul, Republi...",37.609823,126.934848
4,105,Seodaemun-gu,"32, Segeomjeong-ro 4-gil, Seodaemun-gu, Seoul,...",37.593742,126.949679

In [14]:
print(item.info())
print(item.isnull().sum().sum())  # no missing data
item.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Item code            6 non-null      int64
 1   Item name            6 non-null      object
 2   Unit of measurement  6 non-null      object
 3   Good(Blue)           6 non-null      float64
 4   Normal(Green)        6 non-null      float64
 5   Bad(Yellow)          6 non-null      float64
 6   Very bad(Red)        6 non-null      float64
dtypes: float64(4), int64(1), object(2)
memory usage: 464.0+ bytes
None
0

,Item code,Item name,Unit of measurement,Good(Blue),Normal(Green),Bad(Yellow),Very bad(Red)
0,1,SO2,ppm,0.02,0.05,0.15,1.0
1,3,NO2,ppm,0.03,0.06,0.20,2.0
2,5,CO,ppm,2.00,9.00,15.00,50.0
3,6,O3,ppm,0.03,0.09,0.15,0.5
4,8,PM10,Mircrogram/m3,30.00,80.00,150.00,600.0

In [19]:
print(compiled.info())
print(compiled.isnull().sum().sum())  # no missing data
compiled.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3885066 entries, 0 to 3885065
Data columns (total 5 columns):
 #   Column             Dtype
---  ------             -----
 0   Measurement date   object
 1   Station code       int64
 2   Item code          int64
 3   Average value      float64
 4   Instrument status  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 148.2+ MB
None
0

   Measurement date  Station code  Item code  Average value  Instrument status
0  2017-01-01 00:00           101          1          0.004                  0
1  2017-01-01 00:00           101          3          0.059                  0
2  2017-01-01 00:00           101          5          1.200                  0
3  2017-01-01 00:00           101          6          0.002                  0
4  2017-01-01 00:00           101          8         73.000                  0